.navbar {
    min-height: 100px; 
    font-size: 20px;    /* Changez cette valeur pour ajuster la taille de la police
}
.navbar-brand {
    padding-top: 20px;  /* Changez cette valeur pour ajuster l'espacement du haut */
    font-size: 50px;    /* Changez cette valeur pour ajuster la taille de la police */
}